<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.5" targetFramework="net45" />
  <package id="FreeSpire.Doc" version="7.1.13" targetFramework="net45" />
  <package id="FreeSpire.Office" version="3.0" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net45" />
  <package id="NLog" version="4.2.0" targetFramework="net452" />
  <package id="Quartz" version="3.0.7" targetFramework="net452" />
  <package id="System.DirectoryServices" version="4.5.0" targetFramework="net45" />
</packages>