<?xml version="1.0"?>
<appSettings>
  <add key="CustomerIndex" value="5" />
  <!--logo path of export pdf-->
  <add key="LogoSrc" value="~/Data/Content/Images/LogoBIDC.png" />
  
  <!--<add key="FolderInvoiceFile" value="E:\PhuongDD\store" />-->
  <add key="FolderInvoiceFile" value="E:\PhuongDD\store\Sino" />
  <!--<add key="FolderInvoiceFile" value="\\10.0.0.5\01_Public\shared\DataInvoice\BIDC\Test" />-->
  <!--folder working import-->
  <add key="ImportFile" value="F:\TestImport\Working" />
  <!--Start from yesterday-->
  <add key="MaxDayStoreImport" value="90"/>
  <add key="MaxDayReadImport" value="90"/>
  <!---->
  <add key="SourceFileInvoice" value="F:\TestImport\Input" />
  <add key="SourceFileClient" value="F:\TestImport\Input" />
  <!---->
  <!--<add key="UrlResetPassword" value="http://localhost:9000/#/new-password/" />-->
  <add key="UrlResetPassword" value="https://einvoice-bidc.unit.vn/#/new-password/" />
  <!--info of footer in export file invoice-->
  <add key="CompanyName" value="NGÂN HÀNG ĐẦU TƯ VÀ PHÁT TRIỂN CAMPUCHIA" />
  <add key="TaxCode" value="0309518580" />
  <add key="Phone" value="(028) 62666999" />
  <add key="CompanyLink" value="http://bidc.vn/" />
  <add key="CompanyLinkText" value="http://bidc.vn/" />
  <add key="PortalCompanyLink" value="https://einvoice-bidc-portal.unit.vn/" />
  <add key="PortalCompanyLinkText" value="https://einvoice-bidc-portal.unit.vn/" />
  <!--info of footer portal-->
  <add key="PTCompanyName" value="NGÂN HÀNG ĐẦU TƯ VÀ PHÁT TRIỂN CAMPUCHIA" />
  <add key="PTCompanyNameEN" value="NGAN HANG DAU TU VA PHAT TRIEN CAMPUCHIA" />
  <add key="AddressStreet" value="110 CMT8," />
  <add key="AddressStreetEN" value="110 CMT8," />
  <add key="AddressProvince" value="Phường 7, Quận 3, TP.HCM" />
  <add key="AddressProvinceEN" value="Ward 7, District 3, Ho Chi Minh City" />
  <add key="PhoneEmergency" value="(028) 62666999" />
  <add key="Email" value="email" />
  <add key="Youtube" value="" />
  <add key="Facebook" value="" />

  <add key="LinkAddressTransaction" value="" />
  <add key="TextCopyright" value="Copyright © 2019 by NGAN HANG DAU TU VA PHAT TRIEN CAMPUCHIA. All rights reserved." />
  <add key="LinkPrivacyPolicy" value="" />
  <add key="LinkTermsOfUse" value="http://bidc.vn/" />
  <!--bank info-->
  <add key ="BankLogoPath" value="https://einvoice-shinhan-api.unit.vn/Data/Asset/LogoBIDC.png"/>
  <add key ="BankName" value="BIDC"/>
  <add key ="BankNameEn" value="BIDC Bank"/>
  <add key ="BankAddress" value="Ngân hàng đầu tư và phát triển Campuchia, 110 CMT8, Phường 7, Quận 3, TP.HCM"/>
  <add key ="BankAddressEn" value="Ngan hang dau tu va phat trien Campuchia, 110 CMT8, Ward 7, District 3, Ho Chi Minh City"/>
  <add key ="TnhhMtv" value=""/>
  <add key ="BankPhone" value="(028) 62666999"/>
  <!--end bank info-->
  <!--thiết lập ký server bằng HSM hoặc Token (HSM: true, Token: false)-->
  <add key="SignHSM" value="false" />
  <!--Link hóa đơn điện tử tại Quyết định phát hành-->
  <add key="LinkAgencyLogin" value="https://einvoice-bidc.unit.vn"/>
  <!--package-->
  <add key="NumOfPackage" value="FhSDx6ebSWuqN/TXBxArArkryxoKRp8n+bsRA9jmzdskb3HIxf+L0lgBmd/aEpus1FN1Xyiyuyc/f8ceA1ALYI4TH3ZsWzR7BBAi78lWM/7Rd2nW86hO8Dyw69kMX6Yg"/>
  <!--key Circulars dùng khi tạo biên bản tự động bằng job-->
  <add key="Circulars" value="- Căn cứ Nghị định 51/2010/NĐ-CP ngày 14/05/2010 của Chính phủ quy định về hoá đơn bán hàng hoá, cung ứng dịch vụ.\n- Căn cứ Nghị định 04/2014/NĐ-CP ngày 17/01/2014 sửa đổi, bổ sung một số điều của Nghị định 51/2010/NĐ-CP ngày 14/05/2010 của Chính phủ quy định về hoá đơn bán hàng hoá, cung ứng dịch vụ.\n- Căn cứ Thông tư số 39/2014/TT BTC ngày 31/03/2014 hướng dẫn thi hành Nghị định số 51/2010/NĐ-CP và Nghị định 04/2014/NĐ-CP.\n- Căn cứ Thông tư 32/2011/TT-BTC ngày 14/03/2011 của Bộ Tài chính Hướng dẫn về khởi tạo, phát hành và sử dụng hoá đơn điện tử bán hàng hóa, cung ứng dịch vụ."/>
  <add key="CircularsCanCel" value="- Căn cứ Thông tư số 39/2014/TT-BTC ngày 31/3/2014 của Bộ Tài chính hướng dẫn thi hành Nghị định số 51/2010/NĐ-CP." />
  <!--Thông tin mail server default-->
  <add key="emailServer" value="canaryadmin@unit.com.vn"/>
  <add key="smtpServer" value="mail.unit.com.vn"/>
  <add key="port" value="587"/>
  <add key="userName" value="canaryadmin@unit.com.vn"/>
  <add key="password" value="Canary@12345ryu"/>
  <add key="ssl" value="true"/>
  <!--xóa file input sau khi import-->
  <add key="DeleteFileInputAfterImport" value="true"/>
  <!--Thông tin đăng nhập cho webservices-->
  <add key="CertificatePart" value="~/Certificates/bidc_certificate.cer" />
  <add key="T24WebServiceUsername" value="inquery" />
  <add key="T24WebServicePassword" value="inquery@secure" />
  <!-- Ẩn Sign nếu là false-->
  <add key="SignPortal" value="true"/>
</appSettings>
