<?xml version="1.0"?>
<appSettings>
  <add key="CustomerIndex" value="2" />
  <!--logo path of export pdf-->
  <add key="LogoSrc" value="~/Data/Content/Images/LogoHuaNan.png" />
  <add key="FolderInvoiceFile" value="F:\TestImport\Data" />
  <!---->
  <add key="ImportFile" value="\\192.168.1.113\website\Huanan\Data\TestImport_TungTT1" />
  <add key="FormatFile" value="\\192.168.1.113\website\Huanan\Data\ImportFiles\FormatFile" />
  <add key="FormatFile_Count" value="FormatFile_Count" />
  <add key="FormatFile_Invoice" value="FormatFile_Invoice_Huanan" />
  <add key="FormatFile_Client" value="FormatFile_Client_Huanan" />
  <add key="FormatFile_File" value="FormatFile_Huanan" />
  <!--Start from yesterday-->
  <add key="MaxDayStoreImport" value="10"/>
  <add key="MaxDayReadImport" value="10"/>
  <!---->
  <add key="FileMailPath" value="\\192.168.1.113\website\Huanan\Data\ImportFiles\Mail" />
  <add key="SheetName" value="cty$" />
  <!---->
  <add key="SourceFileInvoice" value="\\192.168.1.113\website\Huanan\Data\TestImport_TungTT1\Invoice" />
  <add key="SourceFileClient" value="\\192.168.1.113\website\Huanan\Data\TestImport_TungTT1\Client" />
  <!---->
  <!--<add key="UrlResetPassword" value="http://localhost:9000/#/new-password/" />-->
  <add key="UrlResetPassword" value="https://einvoice-huanan.unit.vn/#/new-password/" />
  <!--info of Header name of Hua Nan Bank-->
  <add key="CompanyNameCn" value="華 南 商 業 銀 行"/>
  <add key="CompanyBranchCn" value="胡 志 明 市 分 行"/>
  <add key="CompanyNameVn" value="NGÂN HÀNG HUA NAN COMMERCIAL BANK., LTD"/>
  <add key="CompanyBranchVn" value="CHI NHÁNH TP. HỒ CHÍ MINH"/>
  <!-- company info -->
  <add key="CompanyName" value="HUA NAN COMMERCIAL BANK., LTD 147" />
  <add key="TaxCode" value="0304567947" />
  <add key="Phone" value="8428-383 71888" />
  <!-- end company info -->
  <!--info of footer in export file invoice-->
  <add key="CompanyLink" value="https://www.hncb.com.tw/wps/portal/HNCB/" />
  <add key="CompanyLinkText" value="https://www.hncb.com.tw/wps/portal/HNCB/" />
  <add key="PortalCompanyLink" value="http://192.168.1.102:5052/" />
  <add key="PortalCompanyLinkText" value="http://192.168.1.102:5052/" />
  <!--info of footer portal-->
  <add key="PTCompanyName" value="HUA NAN COMMERCIAL BANK., LTD" />
  <add key="PTCompanyNameEN" value="HUA NAN COMMERCIAL BANK., LTD" />
  <add key="AddressStreet" value="Lầu 10, Tháp Royal, 235 Nguyễn Văn Cừ, " />
  <add key="AddressStreetEN" value="10F, ROYAL TOWER, 235 NGUYEN VAN CU ST, " />
  <add key="AddressProvince" value="Q. 1, TP. HCM" />
  <add key="AddressProvinceEN" value="DIST. 1, HCMC, VIETNAM" />
  <add key="PhoneEmergency" value="8428-383 71888" />
  <add key="Email" value="info@unit.com.vn" />
  <add key="Youtube" value="https://www.youtube.com/channel/UCCGilP6B4nExOOjp95wbYhw" />
  <add key="Facebook" value="https://www.facebook.com/hncb008" />
  <!--info of e-invoice product-->

  <add key="LinkAddressTransaction" value="" />
  <add key="TextCopyright" value="Copyright © 2019 by HUANAN Bank (Vietnam),. All rights reserved." />
  <add key="LinkPrivacyPolicy" value="" />
  <add key="LinkTermsOfUse" value="" />
  <!--bank info-->
  <add key ="BankLogoPath" value="http://192.168.1.102:5050/Data/Asset/logo.png"/>
  <add key ="BankName" value="Huanan Việt Nam"/>
  <add key ="BankNameEn" value="Huanan Bank Vietnam"/>
  <add key ="BankAddress" value="Lầu 10, Tháp Royal, 235 Nguyễn Văn Cừ, Q. 1, TP. HCM"/>
  <add key ="BankAddressEn" value="Huanan Commercial Bank, LTD, 10F, Royal Tower, 235 Nguyen Van Cu st, dist. 1, HCM, Viet Nam"/>
  <add key ="TnhhMtv" value=""/>
  <add key ="BankPhone" value="8428-383 71888"/>
  <!--end bank info-->
  <!--Template footer product info-->
  <add key="TemplateFooterCompanyName" value="CÔNG TY CỔ PHẦN CÔNG NGHỆ UNIT"/>
  <add key="TemplateFooterCompanyTaxCode" value="0309889835"/>
  <!-- End template footer product info-->
  <!--thiết lập ký server bằng HSM hoặc Token (HSM: true, Token: false)-->
  <add key="SignHSM" value="false" />
  <!--Link hóa đơn điện tử tại Quyết định phát hành-->
  <add key="LinkAgencyLogin" value="http://192.168.1.102:5051"/>
  <!--package-->
  <add key="NumOfPackage" value="gEkNcIgEQm0mgtAeFCxI068Yoks6JFgqqhK0G7ndu5xe2ADeJ6jG469YqWdwFLvBYpgWZ87eZS9TcEpm1+2mo08ERyahLECmVt8/FSg+LHC+WlPu2Ih4Q6+UqJmSNyCK"/>
  <!--Thông tin mail server default-->
  <add key="emailServer" value="canaryadmin@unit.com.vn"/>
  <add key="smtpServer" value="mail.unit.com.vn"/>
  <add key="port" value="587"/>
  <add key="userName" value="canaryadmin@unit.com.vn"/>
  <add key="password" value="Canary@12345"/>
  <add key="ssl" value="true"/>
  <!-- Ẩn Sign nếu là false-->
  <add key="SignPortal" value="false"/>
</appSettings>
