<?xml version="1.0"?>
<appSettings>
  <add key="CustomerIndex" value="3" />
  <!--logo path of export pdf-->
  <add key="LogoSrc" value="~/Data/Content/Images/LogoMega.png" />
  <!--Folder store file sign, upload, ...-->
  <add key="FolderInvoiceFile" value="\\192.168.1.113\website\TungTest\InvoiceData" />
  <!--Folder working of import-->
  <add key="ImportFile" value="\\192.168.1.113\website\TungTest\TestImport\Working" />
  <!--Start from yesterday-->
  <add key="MaxDayStoreImport" value="999999999"/>
  <add key="MaxDayReadImport" value="90"/>
  <!--Folder input file import-->
  <add key="SourceFileInvoice" value="\\192.168.1.113\website\TungTest\TestImport\Input" />
  <!---->
  <!--URL for send mail reset password-->
  <add key="UrlResetPassword" value="http://192.168.1.102:5051/#/new-password/" />
  <!--info of Header name of Mega Bank-->
  <add key="CompanyNameVn" value="NGÂN HÀNG MEGA INTERNATIONAL COMMERCIAL BANK CO,. LTD"/>
  <add key="CompanyBranchVn" value="CHI NHÁNH THÀNH PHỐ HỒ CHÍ MINH"/>
  <add key="CompanyAddressRow1" value="Tầng 1, Tòa nhà The Landmark, số 5B, Tôn Đức Thắng, Phường Bến Nghé, Quận 1,"/>
  <add key="CompanyAddressRow2" value="Thành phố Hồ Chí Minh, Việt Nam"/>
  <!--info of footer in export file invoice-->
  <add key="CompanyName" value="NGÂN HÀNG MEGA INTERNATIONAL COMMERCIAL CO., LTD., CHI NHÁNH TP.HCM" />
  <add key="TaxCode" value="0301470104" />
  <add key="Phone" value="38 22 56 97 ext 0" />
  <add key="CompanyLink" value="https://www.megabank.com.tw/" />
  <add key="CompanyLinkText" value="https://www.megabank.com.tw/" />
  <!--set up key IsHavePublicPortal = false nếu không có portal; giá trị mặc định = true-->
  <add key="IsHavePublicPortal" value="false" />
  <add key="PortalCompanyLink" value="http://mega/" />
  <add key="PortalCompanyLinkText" value="http://mega/" />
  <!--info of footer portal-->
  <add key="PTCompanyName" value="MEGA INTERNATIONAL COMMERCIAL BANK CO., LTD." />
  <add key="PTCompanyNameEN" value="MEGA INTERNATIONAL COMMERCIAL BANK CO., LTD." />
  <add key="AddressStreet" value="5B, Tôn Đức Thắng, " />
  <add key="AddressStreetEN" value="5B, Ton Duc Thang, " />
  <add key="AddressProvince" value="Quận 1, Hồ Chí Minh" />
  <add key="AddressProvinceEN" value="DIST. 1, Ho Chi Minh" />
  <add key="PhoneEmergency" value="38 22 56 97 ext 0" />
  <add key="Email" value="info@unit.com.vn" />
  <add key="Youtube" value="" />
  <add key="Facebook" value="" />

  <add key="LinkAddressTransaction" value="" />
  <add key="TextCopyright" value="Copyright © 2019 by MEGA INTERNATIONAL COMMERCIAL BANK CO., LTD. All rights reserved." />
  <add key="LinkPrivacyPolicy" value="" />
  <add key="LinkTermsOfUse" value="" />
  <!--bank info email-->
  <add key ="BankLogoPath" value="https://einvoice-huanan-api.unit.vn/Data/Content/Images/LogoMegaMail.png"/>
  <add key ="BankName" value="NGÂN HÀNG MEGA INTERNATIONAL COMMERCIAL CO., LTD., CHI NHÁNH TP.HCM"/>
  <add key ="BankNameEn" value="MEGA INTERNATIONAL COMMERCIAL BANK CO., LTD., HO CHI MINH CITY BRANCH"/>
  <add key ="BankAddress" value="Ngân hàng MEGA INTERNATIONAL COMMERCIAL CO., LTD., Chi Nhánh TP.HCM, 5B, Tôn Đức Thắng, Quận 1, Hồ Chí Minh"/>
  <add key ="BankAddressEn" value="MEGA INTERNATIONAL COMMERCIAL BANK CO., LTD., Ho Chi Minh City Branch, 5B, Ton Duc Thang, District 1, Ho Chi Minh"/>
  <add key ="TnhhMtv" value=""/>
  <add key ="BankPhone" value="38 22 56 97 ext 0"/>
  <!--end bank info email-->
  <!--thiết lập ký server bằng HSM hoặc Token (HSM: true, Token: false)-->
  <add key="SignHSM" value="false" />
  <!--Link hóa đơn điện tử tại Quyết định phát hành-->
  <add key="LinkAgencyLogin" value="http://Mega"/>
  <!--package-->
  <add key="NumOfPackage" value="iJ26jvN/pTijv0Oorxc0WknOBQi/vqRMsiJBw+Y/09a1bWNCKAxIyyai3rm994WcIJBpcKajsH6hQZ8GqzEqfsYlKMMGMN69nxCC9ee9BaASaG56dqZXhx8BR6nnISlw"/>
  <add key ="SenderEmail" value="admin@bidc.vn"/>
  <!--Thông tin mail server default-->
  <add key="emailServer" value="canaryadmin@unit.com.vn"/>
  <add key="smtpServer" value="mail.unit.com.vn"/>
  <add key="port" value="587"/>
  <add key="userName" value="canaryadmin@unit.com.vn"/>
  <add key="password" value="Canary@12345ryu"/>
  <add key="ssl" value="true"/>
  <!--Phần insert Base64 vào email thay vì URL-->
  <!--false: dùng URL để hiển thị logo trong email; true: chèn image dạng base64 vô image; mặc định là false-->
  <add key="UseBase64MailImage" value="true" />
  <!--Nếu không có key MailImageLocalPath này thì sẽ sử dụng key LogoSrc-->
  <add key ="MailImageLocalPath" value="~/Data/Content/Images/LogoMegaMail.png" />
  <!--false: khi gửi mới chèn logo vào email; true: chèn logo vào email khi insert vào DB-->
  <add key="InsertLogoWhenCreate" value="false" />
  <!--END Phần insert Base64 vào email thay vì URL-->
  <!-- Ẩn Sign nếu là false-->
  <add key="SignPortal" value="false"/>
  <!--Dùng định dạng số trong thiết lập hệ thống cho VND, mặc định là false-->
  <add key="UseSystemSettingVND" value="true"/>
</appSettings>
