<?xml version="1.0"?>
<appSettings>
  <add key="CustomerIndex" value="1" />
  <!--logo path of export pdf-->
  <add key="LogoSrc" value="~/Data/Content/Images/LogoShinhan.png" />
  
  <!--<add key="FolderInvoiceFile" value="E:\PhuongDD\store" />-->
  <add key="FolderInvoiceFile" value="C:\PhuongDD\store\shinhan" />
  <!--<add key="FolderInvoiceFile" value="\\10.0.0.5\01_Public\shared\DataInvoice\Shinhan\Test" />-->
  <!--<add key="UrlResetPassword" value="http://localhost:9000/#/new-password/" />-->
  <add key="UrlResetPassword" value="https://einvoice-shinhan.unit.vn/#/new-password/" />
  <!--info of footer in export file invoice-->
  <add key="CompanyName" value="NGÂN HÀNG TNHH MTV SHINHAN VIỆT NAM" />
  <add key="TaxCode" value="0309103635" />
  <add key="Phone" value="(028) 3528 7900" />
  <add key="CompanyLink" value="https://shinhan.com.vn/" />
  <add key="CompanyLinkText" value="https://shinhan.com.vn/" />
  <add key="PortalCompanyLink" value="https://einvoice-shinhan-portal.unit.vn/" />
  <add key="PortalCompanyLinkText" value="https://einvoice-shinhan-portal.unit.vn/" />
  <!--info of footer portal-->
  <add key="PTCompanyName" value="NGÂN HÀNG TNHH MTV SHINHAN VIỆT NAM" />
  <add key="PTCompanyNameEN" value="SHINHAN BANK VIET NAM LIMITED" />
  <add key="AddressStreet" value="Tòa nhà Empress, 138-142 Hai Bà Trưng," />
  <add key="AddressStreetEN" value="Empress Tower, 138-142 Hai Ba Trung," />
  <add key="AddressProvince" value="Phường Đa Kao, Quận 1, TP.HCM" />
  <add key="AddressProvinceEN" value="Da Kao ward, District 1, Ho Chi Minh City" />
  <add key="PhoneEmergency" value="19001577" />
  <add key="Email" value="shinhanvietnam@shinhan.com" />
  <add key="Youtube" value="https://www.youtube.com/channel/UCJWBvAAZCfYEuxVOOVDpkoA" />
  <add key="Facebook" value="https://www.facebook.com/Shinhanbankvn/" />

  <add key="LinkAddressTransaction" value="" />
  <add key="TextCopyright" value="Copyright © 2019 by SHINHAN Bank (Vietnam) Ltd,. All rights reserved." />
  <add key="LinkPrivacyPolicy" value="" />
  <add key="LinkTermsOfUse" value="https://shinhan.com.vn/vi/page/dieu-khoan-su-dung.html" />
  <!--bank info-->
  <add key ="BankLogoPath" value="https://einvoice-shinhan-api.unit.vn/Data/Asset/logosinhan.png"/>
  <add key ="BankName" value="Shinhan Việt Nam"/>
  <add key ="BankNameEn" value="Shinhan Bank Vietnam"/>
  <add key ="BankAddress" value="Ngân hàng TNHH MTV Shinhan Việt Nam, 138 Hai Bà Trưng, P. Đakao, Q. 1, TP. HCM"/>
  <add key ="BankAddressEn" value="Shinhan Bank Vietnam Ltd., 138 Hai Ba Trung, Dakao Ward, District 1, HCMC"/>
  <add key ="TnhhMtv" value="TNHH MTV "/>
  <add key ="BankPhone" value="19001577"/>
  <add key ="SenderEmail" value="admin@shinhan.com"/>
  <!--end bank info-->
  <!--thiết lập ký server bằng HSM hoặc Token (HSM: true, Token: false)-->
  <add key="SignHSM" value="true" />
	<!--Link hóa đơn điện tử tại Quyết định phát hành-->
	<add key="LinkAgencyLogin" value="https://einvoice-shinhan.unit.vn"/>
	<!--package-->
	<add key="NumOfPackage" value="FhSDx6ebSWuqN/TXBxArArkryxoKRp8n+bsRA9jmzdskb3HIxf+L0lgBmd/aEpus1FN1Xyiyuyc/f8ceA1ALYI4TH3ZsWzR7BBAi78lWM/7Rd2nW86hO8Dyw69kMX6Yg"/>
  <!--key Circulars dùng khi tạo biên bản tự động bằng job-->
  <add key="Circulars" value="- Căn cứ Nghị định 51/2010/NĐ-CP ngày 14/05/2010 của Chính phủ quy định về hoá đơn bán hàng hoá, cung ứng dịch vụ.\n- Căn cứ Nghị định 04/2014/NĐ-CP ngày 17/01/2014 sửa đổi, bổ sung một số điều của Nghị định 51/2010/NĐ-CP ngày 14/05/2010 của Chính phủ quy định về hoá đơn bán hàng hoá, cung ứng dịch vụ.\n- Căn cứ Thông tư số 39/2014/TT BTC ngày 31/03/2014 hướng dẫn thi hành Nghị định số 51/2010/NĐ-CP và Nghị định 04/2014/NĐ-CP.\n- Căn cứ Thông tư 32/2011/TT-BTC ngày 14/03/2011 của Bộ Tài chính Hướng dẫn về khởi tạo, phát hành và sử dụng hoá đơn điện tử bán hàng hóa, cung ứng dịch vụ."/>
  <add key="CircularsCanCel" value="- Căn cứ Thông tư số 39/2014/TT-BTC ngày 31/3/2014 của Bộ Tài chính hướng dẫn thi hành Nghị định số 51/2010/NĐ-CP." />
  <!-- <add key="CircularsTT78" value="- Căn cứ Nghị định 51/2010/NĐ-CP ngày 14/05/2010 của Chính phủ quy định về hoá đơn bán hàng hoá, cung ứng dịch vụ.\n- Căn cứ Nghị định 04/2014/NĐ-CP ngày 17/01/2014 sửa đổi, bổ sung một số điều của Nghị định 51/2010/NĐ-CP ngày 14/05/2010 của Chính phủ quy định về hoá đơn bán hàng hoá, cung ứng dịch vụ.\n- Căn cứ Thông tư số 39/2014/TT BTC ngày 31/03/2014 hướng dẫn thi hành Nghị định số 51/2010/NĐ-CP và Nghị định 04/2014/NĐ-CP.\n- Căn cứ Thông tư 78/2021/TT-BTC ngày 17 tháng 9 năm 2021 hướng dẫn thực hiện một số điều của Luật Quản lý thuế, Nghị định 123/2020/NĐ-CP quy định về hóa đơn, chứng từ."/>	 -->
  <add key="CircularsTT78" value="- Căn cứ Nghị định 51/2010/NĐ-CP ngày 14/05/2010 của Chính phủ quy định về hoá đơn bán hàng hoá, cung ứng dịch vụ.
- Căn cứ Nghị định 04/2014/NĐ-CP ngày 17/01/2014 sửa đổi, bổ sung một số điều của Nghị định 51/2010/NĐ-CP ngày 14/05/2010 của Chính phủ quy định về hoá đơn bán hàng hoá, cung ứng dịch vụ.
- Căn cứ Thông tư số 39/2014/TT BTC ngày 31/03/2014 hướng dẫn thi hành Nghị định số 51/2010/NĐ-CP và Nghị định 04/2014/NĐ-CP.
- Căn cứ Thông tư 78/2021/TT-BTC ngày 17 tháng 9 năm 2021 hướng dẫn thực hiện một số điều của Luật Quản lý thuế, Nghị định 123/2020/NĐ-CP quy định về hóa đơn, chứng từ."/>	
  <!--ECARE NO template send mail define by shinhan-->
  <add key="DailyEmail" value="92"/>
  <add key="MonthlyEmail" value="93"/>
  <add key="ProvidePasswordEmail" value="94"/>
  <add key="Invoice_Adjustment" value="95"/>
  <add key="EmailResetPassWord" value="140"/>
  <!--file path1 email-->
  <add key="filepath1" value="/home/email/batch/data/eInvoice/"/>

  <!--FTP server copy file-->
  <add key="Host" value="192.168.1.72"/>
  <add key="UserName" value="unit"/>
  <add key="Password" value="Unit@123"/>
  <add key="Port" value="22"/>
  <add key="Path" value="Phuongdd/eInvoice/Shinhan"/>

  <add key="UseBase64MailImage" value="false" />
  <!--Nếu không có key MailImageLocalPath này thì sẽ sử dụng key LogoSrc-->
  <add key ="MailImageLocalPath" value="~/Data/Content/Images/LogoShinhan.png" />
  <!--false: khi gửi mới chèn logo vào email; true: chèn logo vào email khi insert vào DB-->
  <add key="InsertLogoWhenCreate" value="false" />
  <!--set up key IsHavePublicPortal = false nếu không có portal; giá trị mặc định = true-->
  <add key="IsHavePublicPortal" value="true" />
  <!--xóa file input sau khi import-->
  <add key="DeleteFileInputAfterImport" value="true"/>
  <!--Ưu tiên ký cho doanh nghiệp trước-->
  <add key="SignOrgPriority" value="false"/>
  <!-- Ẩn Sign nếu là false-->
  <add key="SignPortal" value="true"/>
  <!--Dùng định dạng số trong thiết lập hệ thống cho VND, mặc định là false-->
  <add key="UseSystemSettingVND" value="true"/>
  <add key="PathAsset" value="C:\PhuongDD\eInvoice\05.SourceCode\trunk\TT78\01.Shinhan\01.BE\InvoiceServer.API\Data\Asset" />
  <add key="signOrg" value="true"/>
  <add key="overwriteSign" value="false"/>
</appSettings>
