<?xml version="1.0"?>
<appSettings>
  <add key="CustomerIndex" value="4" />
  <!--logo path of export pdf-->
  <add key="LogoSrc" value="~/Data/Content/Images/LogoSino.png" />
  <add key="FolderInvoiceFile" value="D:\store\sino" />
  <add key="ImportFile" value="E:\PhuongDD\store\Sino\ImportFiles\DataImportDev" />
  <add key="FormatFile" value="E:\PhuongDD\store\Sino\ImportFiles\FormatFile" />
  <add key="FormatFile_Count" value="FormatFile_Count" />
  <add key="FormatFile_Invoice" value="sino_format_File" />
  <add key="FormatFile_Client" value="FormatFile_Client_Huanan" />
  <add key="FormatFile_File" value="sino_format_File" />
  <!--Start from yesterday-->
  <add key="MaxDayStoreImport" value="3"/>
  <add key="MaxDayReadImport" value="3"/>
  <!---->
  <add key="SourceFileInvoice" value="E:\PhuongDD\store\Sino\ImportFiles\SourceFile" />
  <!--<add key="SourceFileClient" value="\\192.168.1.113\Website\Sino\Data\TestImport_PhiBT\Client" />-->
  <!---->
  <!--<add key="UrlResetPassword" value="http://localhost:9000/#/new-password/" />-->
  <add key="UrlResetPassword" value="http://192.168.1.102:5051/#/new-password/" />
  <add key="locationAsset" value="\\192.168.1.113\website\TungTest\DataInvoice" />
  <!--info of Header name of Sino Bank-->
  <add key="CompanyNameCn" value=""/>
  <add key="CompanyBranchCn" value=""/>
  <add key="CompanyNameVn" value=""/>
  <add key="CompanyBranchVn" value="SINOPAC BANK2222"/>
  <!--info of footer in export file invoice-->
  <add key="CompanyName" value="NGÂN HÀNG SINOPAC" />
  <add key="TaxCode" value="0303327614" />
  <add key="Phone" value="8257612" />
  <add key="CompanyLink" value="https://www.Sinobank.com.tw/" />
  <add key="CompanyLinkText" value="https://www.Sinobank.com.tw/" />
  <add key="PortalCompanyLink" value="http://Sino/" />
  <add key="PortalCompanyLinkText" value="http://Sino/" />
  <!--info of footer portal-->
  <add key="PTCompanyName" value="SINOPAC BANK" />
  <add key="PTCompanyNameEN" value="SINOPAC BANK" />
  <add key="AddressStreet" value="5B Ton Duc Thang, " />
  <add key="AddressStreetEN" value="5B Ton Duc Thang, " />
  <add key="AddressProvince" value="Quan 1" />
  <add key="AddressProvinceEN" value="Ward 1" />
  <add key="PhoneEmergency" value="" />
  <add key="Email" value="info@unit.com.vn" />
  <add key="Youtube" value="" />
  <add key="Facebook" value="" />

  <add key="LinkAddressTransaction" value="" />
  <add key="TextCopyright" value="Copyright © 2019 by SINOPAC BANK. All rights reserved." />
  <add key="LinkPrivacyPolicy" value="" />
  <add key="LinkTermsOfUse" value="" />
  <add key="khachle" value="KHACHLE"/>
  <!--bank info-->
  <add key ="BankLogoPath" value="http://192.168.1.102:5050/Data/Asset/logo.png"/>
  <add key ="BankName" value="SINOPAC BANK"/>
  <add key ="BankNameEn" value="SINOPAC BANK"/>
  <add key ="BankAddress" value=""/>
  <add key ="BankAddressEn" value=""/>
  <add key ="TnhhMtv" value=""/>
  <add key ="BankPhone" value=""/>
  <!--end bank info-->
  <!--thiết lập ký server bằng HSM hoặc Token (HSM: true, Token: false)-->
  <add key="SignHSM" value="false" />
  <!--Link hóa đơn điện tử tại Quyết định phát hành-->
  <add key="LinkAgencyLogin" value="http://Sino"/>
  <!--package-->
  <add key="NumOfPackage" value="T8Rxu6wIA9ZoqtFjPt8L7N7ZL6jmUbl5HltSMk2NDX2frqZRT1upSYWe6YezWCnIRAsVs2DZ4QZFUBx6jIC0FI10Fm3LPWpB22mvnvtrgru73GMYH1nUkWA87lpUfG2G"/>

  <!--Thông tin mail server default-->
  <add key="emailServer" value="canaryadmin@unit.com.vn"/>
  <add key="smtpServer" value="mail.unit.com.vn"/>
  <add key="port" value="587"/>
  <add key="userName" value="canaryadmin@unit.com.vn"/>
  <add key="password" value="Canary@12345ryu"/>
  <add key="ssl" value="true"/>
  <!--FTP server copy file-->
  <add key="HostFtp" value="ftp://192.168.1.113/"/><!--192.168.1.72-->
  <add key="UserNameFtp" value="Administrator"/><!--unit-->
  <add key="PasswordFtp" value="Unit@2017#invoice"/><!--Unit@123-->
  <!--<add key="PortFtp" value="22"/>
  <add key="Path" value="Phuongdd/eInvoice/Sino"/>-->
  <!--FTP server rawdata invoice-->
  <add key ="usFtp" value="false"/>
  <add key="HostFtpInv" value="ftp://10.0.5.146/"/><!--192.168.1.72-->
  <add key="UserNameFtpInv" value="UNIT\phuongdd"/><!--unit-->
  <add key="PasswordFtpInv" value="phuongdd1580"/><!--Unit@123-->
  <!-- Ẩn Sign nếu là false-->
  <add key="SignPortal" value="false"/>
</appSettings>
