<connectionStrings>
  <!--<add name="DataClassesDataContext" connectionString="metadata=res://*/DBAccessor.DataClasses.csdl|res://*/DBAccessor.DataClasses.ssdl|res://*/DBAccessor.DataClasses.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UNICOM06\SQLEXPRESS;initial catalog=EINVOICE_BANK_TEST;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<!--<add name="DataClassesDataContext" connectionString="metadata=res://*/DBAccessor.DataClasses.csdl|res://*/DBAccessor.DataClasses.ssdl|res://*/DBAccessor.DataClasses.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db113.unit.vn,58002;initial catalog=EINVOICE_BANK_DEV;persist security info=True;user id=sa;password=Unit@2017;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="dataclassesdatacontext" connectionstring="metadata=res://*/dbaccessor.dataclasses.csdl|res://*/dbaccessor.dataclasses.ssdl|res://*/dbaccessor.dataclasses.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=db113.unit.vn,58002;initial catalog=EINVOICE_BANK_DEV;persist security info=true;user id=sa;password=unit@2017;multipleactiveresultsets=true;app=entityframework&quot;" providername="system.data.entityclient" />-->
  <add name="DataClassesDataContext" connectionString="metadata=res://*/DBAccessor.DataClasses.csdl|res://*/DBAccessor.DataClasses.ssdl|res://*/DBAccessor.DataClasses.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=b113.unit.vn:58521/orcl;PASSWORD=Unit@032010;PERSIST SECURITY INFO=True;USER ID=EINVOICE_SHINHAN_DEV&quot;" providerName="System.Data.EntityClient" />
  <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
</connectionStrings>