<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Warn" internalLogFile="${basedir}/logs/nlog-internal.log" >

  <!-- Logging variables -->
  <variable name="LogFolder" value="${basedir}/logs" />

  <!-- Variable for UserAction file log -->
  <variable name="UserActionLayout" value="${date:format=yyyy\/MM\/dd HH\:mm\:ss} ${message}"/>
  <variable name="UserActionLogFile" value="api_action_${date:format=yyyyMMdd}.log" />

  <!-- Variable for Error file log -->
  <variable name="ErrorLayout" value="${date:format=yyyy\/MM\/dd HH\:mm\:ss} ${message}"/>
  <variable name="ErrorLogFile" value="api_error_${date:format=yyyyMMdd}.log" />

  <!-- Variable for Debug file log -->
  <variable name="DebugLayout" value="${date:format=yyyy\/MM\/dd HH\:mm\:ss.fff} ${uppercase:${level}} ${message} ${exception:format=tostring}"/>
  <variable name="DebugLogFile" value="api_debug_${date:format=yyyyMMdd}.log" />

  <!-- Variable for Email notificatioin -->
  <variable name="EmailSubject" value="[HO-INVOICE] API Error ${date:format=yyyy\/MM\/dd}"/>
  <variable name="EmailFrom" value="" />
  <variable name="EmailTo" value="" />

  <!-- Variable for Send Email file log -->
  <variable name="EmailSendedLayout" value="${date:format=yyyy\/MM\/dd HH\:mm\:ss} ${message}"/>
  <variable name="EmailSendedLogFile" value="email_sended_${date:format=yyyyMMdd}.log" />

  <!-- Variable for Export file log -->
  <variable name="TimeProcessExportLayout" value="${date:format=yyyy\/MM\/dd HH\:mm\:ss} ${message}"/>
  <variable name="TimeProcessExportLogFile" value="time_process_export_${date:format=yyyyMMdd}.log" />

  <!-- Variable for Quarzt file log -->
  <variable name="QuarztLayout" value="${date:format=yyyy\/MM\/dd HH\:mm\:ss} ${message}"/>
  <variable name="QuarztLogFile" value="quarzt_job_${date:format=yyyyMMdd}.log" />

  <targets>
    <!-- file targets -->
    <target name="UserActionLog" xsi:type="AsyncWrapper" queueLimit="5000" batchSize="10" overflowAction="Block">
      <target xsi:type="File"
            encoding="Unicode"
				    fileName="${LogFolder}/${UserActionLogFile}"
				    layout="${UserActionLayout}" />
    </target>

    <target name="ErrorLog" xsi:type="AsyncWrapper" queueLimit="5000" batchSize="10" overflowAction="Block">
      <target xsi:type="File"
            encoding="Unicode"
				    fileName="${LogFolder}/${ErrorLogFile}"
				    layout="${ErrorLayout}" />
    </target>

    <target name="DebugLog" xsi:type="AsyncWrapper" queueLimit="5000" batchSize="10" overflowAction="Block">
      <target xsi:type="File"
            encoding="Unicode"
			      fileName="${LogFolder}/${DebugLogFile}"
			      layout="${DebugLayout}" />
    </target>
    <target name="EmailNotification" xsi:type="AsyncWrapper" queueLimit="5000" batchSize="1" overflowAction="Block">
      <target xsi:type="Mail"
          subject="${EmailSubject}"
          from="${EmailFrom}"
          to="${EmailTo}"
          smtpServer="mail.unit.com.vn"
          smtpPort="25"
          smtpAuthentication="Basic"
          smtpUserName="canaryadmin@unit.com.vnAAA"
          smtpPassword=""
          enableSsl="true" />
    </target>
    <target name="EmailHistoryLog" xsi:type="AsyncWrapper" queueLimit="5000" batchSize="10" overflowAction="Block">
      <target xsi:type="File"
            encoding="Unicode"
				    fileName="${LogFolder}/${EmailSendedLogFile}"
				    layout="${EmailSendedLayout}" />
    </target>
    <target name="LogTimeExportLog" xsi:type="AsyncWrapper" queueLimit="5000" batchSize="10" overflowAction="Block">
      <target xsi:type="File"
            encoding="Unicode"
            fileName="${LogFolder}/${TimeProcessExportLogFile}"
            layout="${TimeProcessExportLayout}" />
    </target>
    <target name="QuarztLog" xsi:type="AsyncWrapper" queueLimit="5000" batchSize="10" overflowAction="Block">
      <target xsi:type="File"
            encoding="Unicode"
            fileName="${LogFolder}/${QuarztLogFile}"
            layout="${QuarztLayout}" />
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="UserAction" minlevel="Info" writeTo="UserActionLog" enabled="true"/>
    <logger name="Error" minlevel="Error" writeTo="ErrorLog, EmailNotification" enabled="true"/>
    <logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="DebugLog" enabled="true"/>
    <logger name="EmailHistory" minlevel="Info" writeTo="EmailHistoryLog" enabled="true"/>
    <logger name="LogTimeExport" minlevel="Info" writeTo="LogTimeExportLog" enabled="true"/>
    <logger name="Quarzt" minlevel="Info" writeTo="QuarztLog" enabled="true"/>
  </rules>
</nlog>