<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.Docotic.Pdf" version="5.7.9231" targetFramework="net45" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.8.1" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="EntityFramework6.Npgsql" version="3.2.0" targetFramework="net45" />
  <package id="FreeSpire.Doc" version="7.1.13" targetFramework="net45" />
  <package id="FreeSpire.Office" version="4.3.1" targetFramework="net452" />
  <package id="FreeSpire.PDF" version="4.3.1" targetFramework="net452" />
  <package id="FreeSpire.XLS" version="10.1.0" targetFramework="net452" />
  <package id="hiqpdf.free" version="14.0.0" targetFramework="net452" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net452" />
  <package id="itext7" version="7.0.4" targetFramework="net45" />
  <package id="itext7.licensekey" version="2.0.4" targetFramework="net45" />
  <package id="itext7.pdfhtml" version="1.0.1" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.12" targetFramework="net45" />
  <package id="itextsharp.xmlworker" version="5.5.12" targetFramework="net45" />
  <package id="MailKit" version="2.7.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net45" />
  <package id="MimeKit" version="2.8.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Npgsql" version="4.0.2" targetFramework="net45" />
  <package id="NPOI" version="2.3.0" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess" version="18.3.0" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="18.3.0" targetFramework="net45" />
  <package id="Sendgrid" version="8.0.5" targetFramework="net452" />
  <package id="SendGrid.CSharp.HTTP.Client" version="3.0.0" targetFramework="net452" />
  <package id="SendGrid.SmtpApi" version="1.3.1" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net452" />
  <package id="System.DirectoryServices" version="4.5.0" targetFramework="net45" />
  <package id="System.IO.Compression" version="4.0.0" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
</packages>