<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <!-- Secret key to make login hash string (must be same with external systems which open this application) -->
    <add key="LoginSecretKey" value="dqs" />
    <!-- Login session timeout (in minutes) -->
    <add key="SessionTimeout" value="30" />
    <!-- ON/OFF features -->
    <!-- Enable Cross-Domain Request (Call API from other domains) -->
    <add key="Enable CORS" value="true" />
    <!-- Enable compress response content to reduce network bandwidth -->
    <add key="Enable CompressResponse" value="true" />
    <!-- Enable caching API response data for improving performance -->
    <add key="Enable CacheResponse" value="true" />
    
    <add key="ClientSign" value="false" />
    <!-- Period (in minutes) that cached item will be removed from last access -->
    <add key="CacheResponse Timeout" value="1200" />
    <!-- Enable create token by username if this key has value false -->
    <add key="Enable CreateTokenRandom" value="false" />
    <!-- Mail Config -->
    <add key="UrlResetPassword" value="http://localhost:9000/#/new-password/" />
    <add key="ResetPasswordTimeOut" value="15" />
    <add key="EmailTemplateFilePath" value="~/Data/EmailTemplate" />
    <add key="RetryNumberSendEmail" value="2" />
    <!-- Schedule Job -->
    <add key="RecuringJobHour" value="0" />
    <add key="RecuringJobMinute" value="0" />
    <!-- Job: Mail Notitication User long time no login -->
    <!-- Enable/Disable Job -->
    <add key="EnableSendEmailNotificationUserNotLogin" value="false" />
    <!-- Minute Interval Cron job-->
    <add key="CronTimeSendEmailNotification" value="30" />
    <!-- Number of day User not login -->
    <!-- Job: Remind Dealer Admin about review dealer user account -->
    <!-- Enable active job send Remind to dealer admin -->
    <add key="EnableSendEmailRemindDealerAdmin" value="false" />
    <!-- Day interval running recuring job -->
    <add key="DayIntervalJobRemind" value="30" />
    <!-- Job: Cron Reset password dealer user -->
    <!-- Job: Recuring Reset passwords dealer user -->
    <add key="EnableAutomaticResetPassword" value="false" />
    <!-- Number of day dealer must change password -->
    <add key="NumberDayMustChangePassword" value="1" />
    <!-- Leng of new passwords when automatic reset -->
    <add key="LengthOfRandomPassword" value="6" />
    <!-- Day interval running recuring job -->
    <add key="DayIntervalJobResetPassword" value="30" />
    <!-- Config upload image -->
    <!-- Max size of image (kb) -->
    <add key="MaxSizeImage" value="2000" />
    <!-- Folder to save image (kb) -->
    <add key="FolderAssetOfCompany" value="~/Data/Asset" />
    <add key="ImportFolder" value="~/Data/Asset/MasterData" />
    <add key="ImportFileMaxSize" value="1024" />
    <add key="TemplateInvoiceFolder" value="~/Data/InvoiceTemplate" />
    <!-- Config upload VRV Xpress file -->
    <!--TimeOut: Second-->
    <add key="TimeOutUploadFile" value="20" />
    <add key="VrvXpressFileMaxSize" value="1024" />
    <add key="VrvXpressFileMaxRowData" value="100" />
    <!--unit bytes-->
    <add key="MaxLengthBuffer" value="1024" />
    <!--unit is bytes: 60 (MB) * 1024 (KB) * 1024 (Bytes) = 62914560-->
    <add key="MaxSizeFileUpload" value="62914560" />
    <!-- Upload file setting -->
    <add key="Folder UploadTemp" value="~/FilesUploaded/Temp" />
    <add key="Folder ExtractTemp" value="~/FilesUploaded/Extract" />
    <add key="UploadValidator" value="~/Data/ValidatorInvoice" />
    <add key="NumberDayScanSendEmail" value="5" />
    <add key="MessageSendEmailSuccess" value="Gửi email cho khách hàng thành công" />
    <add key="MessageSendEmailError" value="Có lỗi trong quá trình gửi email cho khách hàng" />
    <add key="TokenKeyResearch" value="NewInvoice" />
    <add key="NumberSecondScanExportInvoce" value="50" />
  </appSettings>
  <connectionStrings>
    <!--<add name="DataClassesDataContext" connectionString="metadata=res://*/DBAccessor.DataClasses.csdl|res://*/DBAccessor.DataClasses.ssdl|res://*/DBAccessor.DataClasses.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DUCLV-PC\;initial catalog=Invoice_Management;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DataClassesDataContext" connectionString="metadata=res://*/DBAccessor.DataClasses.csdl|res://*/DBAccessor.DataClasses.ssdl|res://*/DBAccessor.DataClasses.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.74.121.130,24034;initial catalog=Invoice_HO_TEST;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DataClassesDataContext" connectionString="metadata=res://*/DBAccessor.DataClasses.csdl|res://*/DBAccessor.DataClasses.ssdl|res://*/DBAccessor.DataClasses.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=14.161.47.48\MSSQLSERVER,1434;initial catalog=EINVOICE_DEV;persist security info=True;user id=sa;password=Unit@2017;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DataClassesDataContext" connectionString="metadata=res://*/DBAccessor.DataClasses.csdl|res://*/DBAccessor.DataClasses.ssdl|res://*/DBAccessor.DataClasses.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SP2013-KHOANN;initial catalog=Invoice_HO_TEST;persist security info=True;user id=spadmin;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DataClassesDataContext" connectionString="metadata=res://*/DBAccessor.DataClasses.csdl|res://*/DBAccessor.DataClasses.ssdl|res://*/DBAccessor.DataClasses.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.74.121.106,24033;initial catalog=Invoice_Management;persist security info=True;user id=invoice;password=Langvan@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SqlHangfire" connectionString="Server=103.74.121.130,24034;User Id=sa;Password=123;Database=hangfire_New01;" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="canaryadmin@unit.com.vn" deliveryMethod="Network">
        <network host="mail.unit.com.vn" port="25" userName="canaryadmin@unit.com.vn" password="Canary@12345" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="default" cacheMemoryLimitMegabytes="0" physicalMemoryLimitPercentage="0" pollingInterval="00:02:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="*, X-Authorization-Token, Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--<modules runAllManagedModulesForAllRequests="true" />-->
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <!-- ADD THIS IN ORDER TO MAKE APPLICATION HANDLES ALL RESTFUL ACTIONS -->
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
                <assemblyIdentity name="NLog" publicKeyToken="5120E14C03D0593C" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
            </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.23.18040" newVersion="4.5.1.2040" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.License" publicKeyToken="b1144360237c8b3f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.7.40" newVersion="1.3.6.40" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>